<div>
  <div class="header">
    <div class="logo"><%= image_tag 'ps_logo.png' %></div>
    <div class="header__title">Geradores de Energia</div>
  </div>

  <div class="searcher gradient">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Pesquisa Simples</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Pesquisa Avançada</label>
      </div>
    </div>

    <%= form_tag do %>
      
      <div class="simple-form">
        <%= form_with url: simple_search_power_generators_path, local: true, method: 'get' do %>
          <div class="simple-form__input">
            <!-- <input class="form-control form-control-lg" type="text" placeholder="o que procura?"> -->
            <%= text_field_tag :q, nil, class: 'form-control form-control-lg', placeholder: 'o que procura?'%>
          </div>
          <div class="simple-form__btn">
            <!-- <button type="submit" class="btn btn-outline-primary btn-lg">Pesquisar</button> -->
            <%= submit_tag 'Pesquisar', class: 'btn btn-outline-primary btn-lg'%>
          </div>
        <% end %>
      </div>

      <div class="advanced-form" style="display:none;">
        <%= form_with url: advanced_search_power_generators_path, local: true, method: 'get' do %>
          <div class="simple-form__input">
            <p><strong>Dados Tecnicos</strong></p>
            <%= text_field_tag :manufacturer, nil, class: 'form-control form-control-lg', placeholder: 'Fabricante'%>
          </div>
          <div class="simple-form__btn">
            <%= submit_tag 'Pesquisar', class: 'btn btn-outline-primary btn-lg'%>
          </div>
        <% end %>
      </div>
    
    <% end %>
  </div>

  <div class="container" >
    <% if @power_generators.blank? %>
      <p><strong>Nenhum produto encontrado!</strong></p>
    <% else %>

      <% @power_generators.each do |power_generator| %>
        <div class="box card power_generator-card">
          <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
          <div class="power_generator-card__body">
            <h2><%= link_to power_generator.name.upcase, power_generator_path(power_generator) %></h2>
            <p class="power_generator-card__price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
            <p><strong>Descrição: </strong><%= power_generator.description %></p>
          </div>
        </div>
      <% end%>








    <div class="searcher gradient">
        <p>TESTE<p>
      </div>

      <% @power_generators.each do |power_generator| %>
        <div class="box card power_generator-card">
          <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
          <div class="power_generator-card__body">
            <h2><%= link_to power_generator.name.upcase, power_generator_path(power_generator) %></h2>
            <p class="power_generator-card__price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
            <p><strong>Descrição: </strong><%= power_generator.description %></p>
          </div>
        </div>
      <% end%>

      

      
    <% end %>
  </div>
</div>
