<div>
  <div class="header">
    <div class="logo"><%= image_tag 'ps_logo.png' %></div>
    <div class="header__title">Geradores de Energia</div>
  </div>

  <div class="searcher gradient">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Pesquisa Simples</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Pesquisa Avançada</label>
      </div>
    </div>

    <%= form_tag("/power_generators/simple_search", method: :get) do %>
      <div class="simple-form">
          <div class="simple-form__input">
            <!-- <input class="form-control form-control-lg" type="text" placeholder="o que procura?"> -->
            <%= text_field_tag :q, nil, class: 'form-control form-control-lg', placeholder: 'o que procura?'%>
          </div>
          <div class="simple-form__btn">
            <!-- <button type="submit" class="btn btn-outline-primary btn-lg">Pesquisar</button> -->
            <%= submit_tag 'Pesquisar', class: 'btn btn-outline-primary btn-lg'%>
          </div>
          <div class="simple-form__input">
            <p>Ordenar por: <%= select_tag(:order, options_for_select([['Por Nome', :name],['Menor Preço', 1],['Maior Preço', 2],['Menor kWp', 3],['Maior kWp', 4]])) %></p>
          </div>
      </div>
    <% end %>

    <%= form_tag("/power_generators/advanced_search", method: :get) do %>
      <div class="advanced-form" style="display:none;">
              <p><strong>Dados Técnicos</strong></p>
              <p><%= text_field_tag :manufacturer, nil, class: 'form-control form-control-lg', placeholder: 'Fabricante'%></p>
              <p>
                <div class="row">
                    <%= check_box_tag('structure_type[]','metalico') %> <%= I18n.t(:metalico)%>
                    <%= check_box_tag('structure_type[]','ceramico') %><%= I18n.t(:ceramico)%>
                    <%= check_box_tag('structure_type[]','fibrocimento') %> <%= I18n.t(:fibrocimento)%>
                    </div>
                <div class="row">  
                    <%= check_box_tag('structure_type[]','laje') %> <%= I18n.t(:laje)%>
                    <%= check_box_tag('structure_type[]','solo') %> <%= I18n.t(:solo)%>
                    <%= check_box_tag('structure_type[]','trapezoidal') %> <%= I18n.t(:trapezoidal) %>
                </div>
              </p>
              <p>
                <%= text_field_tag :price_min, nil, class: 'form-control form-control-lg', placeholder: 'Valor(R$) Minimo'%>
                <%= text_field_tag :price_max, nil, class: 'form-control form-control-lg', placeholder: 'Valor(R$) Maximo'%>
              </p>
              <p>
                <%= text_field_tag :kwp_min, nil, class: 'form-control form-control-lg', placeholder: 'Potencia(kwp) Minima'%>
                <%= text_field_tag :kwp_max, nil, class: 'form-control form-control-lg', placeholder: 'Potencia(kwp) Maxima'%>
              </p>
              <p><strong>Dimensões</strong></p>
              <p>
                <%= text_field_tag :height_min, nil, class: 'form-control form-control-lg', placeholder: 'Altura(m) Minima'%>
                <%= text_field_tag :height_max, nil, class: 'form-control form-control-lg', placeholder: 'Altura(m) Maxima'%>
              </p>
              <p>
                <%= text_field_tag :width_min, nil, class: 'form-control form-control-lg', placeholder: 'Largura(m) Minima'%>
                <%= text_field_tag :width_max, nil, class: 'form-control form-control-lg', placeholder: 'Largura(m) Maxima'%>
              </p>
              <p>
                <%= text_field_tag :lenght_min, nil, class: 'form-control form-control-lg', placeholder: 'Comprimento(m) Minimo'%>
                <%= text_field_tag :lenght_max, nil, class: 'form-control form-control-lg', placeholder: 'Comprimento(m) Maximo'%>
              </p>
              <p>
                <%= text_field_tag :weight_min, nil, class: 'form-control form-control-lg', placeholder: 'Peso(kg) Minimo'%>
                <%= text_field_tag :weight_max, nil, class: 'form-control form-control-lg', placeholder: 'Peso(kg) Maximo'%>
              </p>              
              <p><%= submit_tag 'Pesquisar', class: 'btn btn-outline-primary btn-lg'%></p>
      </div>
    <% end %>
  </div>

  <div class="container" >
    <% if @power_generators.blank? %>
      <p><strong>Nenhum produto encontrado!</strong></p>
    <% else %>

      <% @power_generators.each do |power_generator| %>
        <div class="box card power_generator-card">
          <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
          <div class="power_generator-card__body">
            <h2><%= link_to power_generator.name.upcase, power_generator_path(power_generator) %></h2>
            <p class="power_generator-card__price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
            <p><strong>Descrição: </strong><%= power_generator.description %></p>
          </div>
        </div>
      <% end%>

    <%= paginate @power_generators %>

    <% end %>
  </div>
</div>
